<script>

//     // function tellUsAboutIt(){
//     //   $.ajax({
//     //     url:"secretsubmissionroute",
//     //     type:"post",
//     //     data:getCurrentArticle()
//     //   })
//     // }

//     var prevent_bust = 0
//     window.onbeforeunload = function() { prevent_bust++ }
//     setInterval(function() {
//         if (prevent_bust > 0) {
//             prevent_bust -= 2
//             // 204 header response prevents redirect
//             window.top.location = "#"
//             tellUsAboutIt()
//             hitNext()
//         }
//     }, 1)
// </script>
<h1><%= @channel.name %></h1>
  <li><%= link_to 'delete station', {:controller => :channels, :action => 'destroy'}, :confirm => "Are you sure you want to delete this station?", :method => :delete %></li>
<h4><%= link_to "Your Channels", root_path %></h4>
<% @user_channels.each do |channel| %>
  <li><%= link_to channel.name, [@user, channel] %></li>
<% end %>
<ul>
</ul>
<% focus_article = @articles.first %>
<iframe id='iframe_window' src='<%=focus_article.url%>' width="720" height="720"></iframe>
<%= render partial: 'articles/feedback_form', locals: { article: focus_article } %>

<div id="myCarousel" class="carousel slide" data-interval="false" wrap="true" style="background:grey; height:100px;">
  <div class="carousel-inner" style="background:red; height:100px">
    <% @articles.each_slice(5).with_index do |slice, index| %>
      <% if index == 0 %>
        <div class="active item">
          <% slice.each do |article| %>
            <div >
              <%= link_to "#{article.title}", article.url, id: "#{article.id}", class: "news_link" %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="item">
          <% slice.each do |article| %>
            <div >
              <%= link_to "#{article.title}", article.url, id: "#{article.id}", class: "news_link" %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
