<h1><%= @channel.name %></h1>
      <ul>
        <li><%= link_to 'delete station', {:controller => :channels, :action => 'destroy'}, :confirm => "Are you sure you want to delete this station?", :method => :delete %></li>
      </ul>
<h4><%= link_to "Your Channels", root_path %></h4>
<% @user_channels.each do |channel| %>
  <li><%= link_to channel.name, [@user, channel] %></li>
<% end %>

<% focus_article = @articles.first %>


<iframe id='iframe_window' src='<%=focus_article.url%>' width="720" height="720"></iframe>
<%= render partial: 'articles/feedback_form', locals: { article: focus_article } %>

