<header class="navbar navbar-fixed-top" style="height: 20px">
  <div class="navbar-inner">
    <div class="container">
      <% if current_user %>
        <h3><%= link_to "NewsShark", user_path(current_user) %></h3>
      <% else %>
        <h3><%= link_to "NewsShark", root_path %></h3>
      <% end %>
      <nav>
        <ul class="nav pull-right">
          <li><%= button_to "Home", root_path, :class => 'btn' %></li>
          <% if signed_in? %>
           <li><%= button_to "Sign out", signout_path, :method => :delete, :class => 'btn' %></li>
          <% else %>
             <%= form_for(:session, url: sessions_path) do |f| %>
             <li><%= f.label :email %>
                  <%= f.text_field :email %></li>
              <li><%= f.label :password %>
                  <%= f.password_field :password %></li>
              <li><%= f.submit "Sign in", :class => 'btn' %></li>
              <% end %>
              <p>New user? <%= link_to "Create an account >>", new_user_path %></p>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
