<header class="navbar navbar-fixed-top" style="height: 20px">
  <div class="navbar-inner">
    <div class="container">
      <% if current_user %>
        <h3><%= link_to "NewsShark", user_path(current_user)%></h3>
      <% else %>
        <h3><%= link_to "NewsShark", root_path %></h3>  
        <p><%= link_to 'Want to give Newshark a try?', users_path(:type => "guest"), method: :post %></p>      
      <% end %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <% if signed_in? %>
           <li><%= button_to "Sign out", {:controller => :sessions, :action => 'destroy'}, :method => :delete %></li>
          <% else %>
             <%= form_for(:session, url: sessions_path) do |f| %>
             <li><%= f.label :email %>
                  <%= f.text_field :email %></li>
              <li><%= f.label :password %>
                  <%= f.password_field :password %></li>
              <li><%= f.submit "Sign in" %></li>
              <% end %>
              <p>New user? <%= link_to "Create an account >>", new_user_path %></p>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
